html, body {
    margin: 0;
    padding: 0;
}

#splash {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4552c4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#splash-logo {
    width: 3140px;
    height: 2200px;
    animation: fadeLogo 3s ease-in-out forwards;
}

@keyframes fadeLogo {
    0%   { opacity: 0; }
    /*40%  { opacity: 1; }
    80%  { opacity: 1; }*/
    100% { opacity: 1; }
}